<div class="display-table-cell vert-mid text-center">
	<div class="content content-slim overflow-h display-ib">
		<p>
			{{message}}
		</p>
		<div class="text-center">
			<div class="affirmative btn go to-go decorate display-ib">
				{{affirmative}}
			</div>
			&nbsp;
			&nbsp;
			<div class="negative btn decorate to-foreground display-ib">
				{{negative}}
			</div>
		</div>
	</div>
</div>
