@import 'variables';

/*
 * I want to try and use the default context-box model if possible,
 * I have a fundemantal beef with the border-box model in that if you have 2 elements
 * 50% width and add a border of 1px to one of them, that box's content is now 50% - 1px....
 * You can still use the border-box model where it is convienent (e.g. forms, tables), just path the rule
 *
 * html {
 * 	box-sizing: border-box;
 * }
 * 
 * *, *:before, *:after {
 * 	box-sizing: inherit;
 * }
 *
 */

html {
	font-size: $root-font-size;
}

body {
	color: $clr-font;
	font-family: 'Roboto Condensed', Arial, sans-serif !important;
	font-size: 1rem;
	line-height: 1.4;
}

/**
 * Lists
 */
ul,
ol {
	padding: 0 0 0 20px;
}

li {
	margin: 2px 0; /* tiny bit of spacing between list items */
}

dt, dd {
	margin: 0;
}

/*
 * Cursor
 */
.cursor-pointer {
	cursor: pointer !important;
}

.cursor-default {
	cursor: default !important;
}


/*
 * Link styles
 */
.faux-link,
a {
	color: $clr-link;
	cursor: pointer;
	text-decoration: none;
	transition: color ease .25s; 

	&:hover {
		color: $clr-link-hover;
	}
}

video,
img {
	max-width: 100%;
}


/*
 * Table styles
 */
table, th, td {
	border: 1px solid $clr-border;
}

table {
	&, *, *:before, *:after {
		box-sizing: border-box;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px 1px 0 0;
	width: 100%;	// should be useful as a table's width will be forced by its content anyway, remove if it gets in your way
}

th, td {
	border-width: 0 0 1px 1px;
	padding: .2em;
}

/**
 * You should never need these 'no' rules but they are useful to have just in case
 */
.no-margin {
	margin: 0 !important;
}

/*
 * Determining the viability of this use case,
 * if only used in a couple of places, use inline styles instead
 */
.no-margin-x {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.no-margin-y {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-border {
	border: 0 !important;
}

/* margins, add typical block elements here */
hr, p, table, .table, ul, ol, figure, dl, .dl, form, xmp {
	margin-bottom: $root-margin;
	margin-top: $root-margin;
}

.def-margin {
	margin-bottom: $root-margin !important;
	margin-top: $root-margin !important;
}

.def-margin-slim {
	margin-bottom: ($root-margin / 2) !important;
	margin-top: ($root-margin / 2) !important;
}

.marign-auto {
	margin: auto;
}

/*
 * I am giving in here and adding a generic top-margin only style,
 * I generally prefer to simply have top/bottom set and rely on margin
 * collapsing but there is always a few cases that don't fit.
 *
 * This could so easily explode into a number of permutations, try not to let that happen
 * 
 * On my way back out of the rabit hole: I am introducing a wrapping class
 * to eliminate bottom margin on default elements, this is helpful where margin collapsing is
 * not desireable such as notifications or popups (hopefully this will make def-margin-top rules redundant,
 * time will tell)
 */

.content-condensed {
	hr, p, table, .table, ul, ol, figure, dl, .dl, form, xmp {
		margin-bottom: 0;
	}
}

.content-condensed-slim {
	hr, p, table, .table, ul, ol, figure, dl, .dl, form, xmp {
		margin-top: ($root-margin / 2);
		margin-bottom: 0;
	}
}

// These two are deprecated and need to go, just make sure GH is not using them
.def-margin-top-slim {
	margin-top: ($root-margin / 2) !important;
}

// deprecated, use some content-condensed or some combination of no-margin-y and def-margin
.def-margin-top {
	margin-top: $root-margin !important;
}

dt + dd,
.dt + .dd {
	margin: ($root-margin / 2) 0 0 0;
}

.rdl {
	dd + dt,
	.dd + .dt {
		margin: ($root-margin / 2) 0 0 0;
	}
}

.dd + .dt,
dd + dt {
	margin: ($root-margin / 2) 0 0 0;
}

/*
 * Clearfix: contain floats where overflow: hidden; is not apt
 */
.clearfix {
	overflow: visible !important;	// the clearfix should be used instead of overflow: hidden where overflow is nessesary

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* 
 * Generic float's, overflow and clearing
 */
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.vert-mid {
	vertical-align: middle !important;
}

.vert-base {
	vertical-align: baseline !important;
}

.vert-bottom {
	vertical-align: bottom !important;
}

.vert-top {
	vertical-align: top !important;
}

/**
 * This rule is under the .clearfix so should work in conjunction with it if there is some case
 * where overflow must be hidden and overflow: hidden by itself is not enough for clearing
 */
.overflow-h {
	overflow: hidden !important;
}

.overflow-x {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: hidden;
}

.clear-l {
	clear: left;
}

.clear-r {
	clear: right;
}

.clear-b {
	clear: both;
}


/* 
 * Heading and font size rules
 */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-weight: 700;
//	line-height: 1.8;  // if we are really desperate for that little bit extra spacing
}

h1, h2, h3, h4 {
	margin: 0;
}

/*
 * These are not particulary helpful rules but can be used in some senarios for example
 * pos-rel for z-indexing and pos-sta to hand absolute positioning up to a parent element (helpful in overflow hidden situations)
 */
.pos-rel {
   position: relative !important;	
}

.pos-abs {
   position: absolute !important;	
}

.pos-stat {
   position: static !important;	
}

/*
 * Display/visibility rules
 */
.hidden {
    display: none !important;
}

.invisible {
	visibility: hidden;
}

@media (min-width: 768px) {
	body {
		font-size: $root-font-size;
	}
}

