@import 'variables';

$btn-padding-x: .8em;
$btn-padding-y: .53em;

$pill-padding-x: .7em;
$pill-padding-y: .3em;

.split {
	background: rgba(0, 0, 0, .08);
	border: 1px solid transparent;
	float: left;
}

.btn {
	border: 1px solid transparent; // prevent jumping if you add a border on hover
	border-radius: $root-border-radius;
	cursor: pointer;
	display: block;
	font-size: $root-font-size;	// counter input rule
	outline: none;
	padding: $btn-padding-y $btn-padding-x;
	text-decoration: none !important;
	transition: box-shadow .25s, background .25s, color .25s, border .25s;
	user-select: none;
	white-space: nowrap;
	width: auto;

	a {
		text-decoration: none !important;
	}

	.split {
		border-width: 0 1px 0 0 !important;
		float: left;
		margin: (-($btn-padding-y)) ($btn-padding-x) (-($btn-padding-y)) (-($btn-padding-x));
		padding: $btn-padding-y;

		&.pull-right {
			border-width: 0 0 0 1px !important;
			margin: (-($btn-padding-y)) (-($btn-padding-x)) (-($btn-padding-y)) $btn-padding-x;
		}
	}

	&.decorate {
		&:focus,
		&:hover {
			box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, .15);
		}

		&:active {
			box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, .3);
		}
	}
}

.btn-bool-matrix {
	.bool-lbl {
		margin-bottom: .1em;
		margin-top: .1em;
	}
}

.btn-group {
	overflow: hidden;

	.btn {
		border-radius: 0;
		float: left;
		margin-right: -1px;
	}

	> .btn:first-child,
	.btn-bool:first-child .btn {
		border-radius: $root-border-radius 0 0 $root-border-radius;
	}

	> .btn:last-child,
	.btn-bool:last-child .btn {
		border-radius: 0 $root-border-radius $root-border-radius 0;
		margin-right: 0;
	}

	> .btn:first-child:last-child,
   	.btn-bool:first-child:last-child .btn {
		border-radius: $root-border-radius;
	}
}

/*
 * Styling for radio and checkbox's
 */
.btn-bool {
	.bool-lbl {
		&:hover {
			box-shadow: inset 0 0 12px 0 rgba(34, 153, 0, .3);
		}
	}

	input {
		display: none !important;

		&:checked + .bool-lbl {
			background: $clr-go;	// consistant styling for checked
			box-shadow: none !important;
			color: #fff;
			margin: 0;
			position: relative;
			z-index: 1;		// this will ensure a distinct border is shown in a .btn-group
		}
	}
}

/*
 * Override default radio styling for tabbed appearance
 */
.tabs .btn-bool {

	// $clr-link-active-rbg
	.bool-lbl {
		color: $clr-font-sup; // nested to override state styling
		margin-bottom: .2em; // this should give some nice vertical spacing
		margin-top: .2em;

		&:hover {
			box-shadow: inset 0 0 12px 0 rgba(20, 169, 255, .3);
		}
	}

	input[type="radio"] {
		&:checked + .bool-lbl {
			border-radius: $root-border-radius !important;
			padding: .7em $btn-padding-x;
		}
	}
	
	:checked + .bool-lbl {
		background: $clr-mono-dark;
		color: #fff;
	}
}

/* since bool-lbl should be a span as div's are not allowed in a label */
.bool-lbl {
	display: block;
}

.pill {
	background: #fff; // not sure if its good to set a default bg colour here
	border-radius: $root-border-radius;
	color: $clr-font-sup; // default pill text colour, is overridden in state styles
	display: inline-block;
	padding: $pill-padding-y $pill-padding-x;
	vertical-align: middle; // or top?

	.split {
		border-radius: $root-border-radius 0 0 $root-border-radius;
		border-width: 1px 0 1px 1px !important;
		display: inline-block;
		margin: (-($pill-padding-y)) 0 (-($pill-padding-y)) (-($pill-padding-x));
		padding: $pill-padding-y $pill-padding-x;
		vertical-align: top;

		+ .pill {
			border-radius: 0 $root-border-radius $root-border-radius 0;
			margin: (-($pill-padding-y)) (-($pill-padding-x)) (-($pill-padding-y)) 0;
		}

		&.pull-right {
			border-width: 1px 1px 1px 0 !important;
			border-radius: 0 $root-border-radius $root-border-radius 0;
	 		margin: (-($pill-padding-y)) (-($pill-padding-x)) (-($pill-padding-y)) 0;

			+ .pill {
				border-radius: $root-border-radius 0 0 $root-border-radius;
				margin: (-($pill-padding-y)) 0 (-($pill-padding-y)) (-($pill-padding-x));
			}
		}
	}
}

/*
 * text shadow for state pill/split
 */
.pill,
.split {
	&.go,
	&.stop,
	&.wait {
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
	}
}
