/*
 * Fonts
 */
@font-face {
	font-family: 'Roboto Condensed';
	src: url(../fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf) format('truetype');
}
