@import 'variables';

/*
 * Probably the worst piece of shit rule I have ever written,
 * I cannot think of a generic way to solve this problem of having an element
 * next to a heading, in the correct order in terms of markup but vertically aligned ignoring bottom margin
.field-date-underline {
	position: relative;
	bottom: -($root-margin);
}
 */

/*
 * Most validations are spans due to them being within a label,
 * due to this they are displayed block here and hidden with an inline rule
 */
.validation {
	display: block;
	margin-top: ($root-margin / 2) !important;
}

/* 
 * This style is purley to line up the label (probably wrapped in a span since HTML5 wrapping input labels)
 * with the input text base line
 */
.label {
	padding-top: .5em;
}

.form {
	margin: auto;
	max-width: 900px;
}

form {
	/*
	 * Only margin these elements within a form, usually a label will not accompany an input outside of a form
	 * you can also use the def-margin-slim rule
	 */
	 .btn-group,
	textarea,
	select,
	input {
		margin-bottom: ($root-margin / 2);
		margin-top: ($root-margin / 2);
	}
}

textarea,
select,
input {
	border: 1px solid $clr-border-input;
	border-radius: $root-border-radius;
}


textarea,
input,
select,
button {
	box-sizing: border-box;
	display: block;
	font-size: inherit; // for some reason, font size is being taken from the user agent, might prove weird when applying small, x-small etc.
	max-width: 100%;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	padding: 0;
	width: auto;
}

/*
 * retarted pre and post fix rules to statisfy some fancy design
 * where you might want some kind of label, as long as the box input is not long enough to run over it
 * and if it does, fuck it, it looked nice
 */

/*
 * prefix is almost always an icon
 */
.field-prefix {
	left: .5em; // default padding
	top: .6em;

	// almost always an input
	+ input {
		padding-left: 1.6em;
	}
}

.field-postfix {
	right: .6em;
	top: .8em;
}

.field-prefix,
.field-postfix {
	position: absolute;
}

input.lbl-icon {
	padding-left: 20px;	
}

textarea,
input,
select {
	background: #fff;
	display: block;
	padding: .5em;
	transition: box-shadow ease .25s;

	&:focus {
		border-color: $clr-link-active;
		box-shadow: 0 0 8px rgba(20, 169, 255, .45);
		outline: none;
	}
}

// think of a better class name?
// getting buttons to be the same height as an input is trickey since every browser
// thinks it knows what an input should look like
.form-padding {
	padding: .4em !important;	
}

select {
	background: #fff url(../images/chevron-down.png) no-repeat top .55em right .5em;
	background-size: 1rem;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

