
/*
 * faux grid
 * A naturally wrapping grid system, this will align things side by side,
 * the width must be set by another class or not at all
 */
.grid-faux {
  display: inline-block !important;
  vertical-align: top;
}

/*
 * arbitrary % width items
 */
/*
 * flex grid
 * A percentage based *cleared* grid
 */
.i-10-na {
  width: 10%;
}

.i-20-na {
  width: 20%;
}

.i-30-na {
  width: 30%;
}

.i-40-na {
  width: 40%;
}

.i-50-na {
  width: 50%;
}

.i-60-na {
  width: 60%;
}

.i-70-na {
  width: 70%;
}

.i-80-na {
  width: 80%;
}

.i-90-na {
  width: 90%;
}

.i-100-na {
  width: 90%;
}

.grid-flex {
  display: block;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  /*
   * these non clearing rules are for one-off useage
   */
}
.grid-flex > .grid-i-20-na {
  float: left;
  width: 20%;
}
.grid-flex > .grid-i-80-na {
  float: left;
  width: 80%;
}
.grid-flex > .grid-i-50-na {
  float: left;
  width: 50%;
}
.grid-flex > .grid-i-50-na + .grid-i-50-na {
  clear: none;
}
.grid-flex > .grid-i-50-na:nth-child(odd) {
  clear: left;
}
.grid-flex > .grid-i-33-na {
  float: left;
  width: 33.3%;
}
.grid-flex > .grid-i-33-na + .grid-i-33-na {
  clear: none;
}
.grid-flex > .grid-i-33-na:nth-child(3n + 1) {
  clear: left;
}
.grid-flex > .grid-i-25-na {
  float: left;
  width: 25%;
}
.grid-flex > .grid-i-25-na + .grid-i-25-na {
  clear: none;
}
.grid-flex > .grid-i-25-na:nth-child(4n + 1) {
  clear: left;
}
.grid-flex > .grid-i-20-na {
  float: left;
  width: 20%;
}
.grid-flex > .grid-i-20-na + .grid-i-20-na {
  clear: none;
}
.grid-flex > .grid-i-20-na:nth-child(5n + 1) {
  clear: left;
}
.grid-flex > .grid-i-16-na {
  float: left;
  width: 16.6%;
}
.grid-flex > .grid-i-16-na + .grid-i-16-na {
  clear: none;
}
.grid-flex > .grid-i-16-na:nth-child(6n + 1) {
  clear: left;
}
.grid-flex > .grid-i,
.grid-flex > [class^="grid-i"],
.grid-flex > [class*=" grid-i"] {
  box-sizing: border-box;
  /* border box model so percentage widths work in combination with padding and border */
  margin-left: auto;
  margin-right: auto;
  /*
   * these rules are important to override first/last cell missing left/right padding
   * (already accounted for via the minus margin on the wrapping grid-flex)
   */
  padding-left: 1.3rem !important;
  padding-right: 1.3rem !important;
}
.grid-flex.no-spacing {
  margin: 0 !important;
}
.grid-flex.no-spacing > .grid-i,
.grid-flex.no-spacing > [class^="grid-i"],
.grid-flex.no-spacing > [class*=" grid-i"] {
  margin: 0 !important;
  padding: 0 !important;
}

.display-table-md .td:last-child,
.display-table-lg .td:last-child,
.display-table-sm .td:last-child {
  border-right-width: 0;
}

/* build a grid for each breakpoint */
@media (min-width: 500px) {
  .display-table-sm {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .display-table-sm .tr {
    display: table-row;
  }
  .display-table-sm .td {
    display: table-cell;
  }

  .i-10-sm {
    width: 10%;
  }

  .i-20-sm {
    width: 20%;
  }

  .i-30-sm {
    width: 30%;
  }

  .i-40-sm {
    width: 40%;
  }

  .i-50-sm {
    width: 50%;
  }

  .i-60-sm {
    width: 60%;
  }

  .i-70-sm {
    width: 70%;
  }

  .i-80-sm {
    width: 80%;
  }

  .i-90-sm {
    width: 90%;
  }

  .i-100-sm {
    width: 90%;
  }

  .grid-flex {
    /*
     * these non clearing rules are for one-off useage
     */
  }
  .grid-flex > .grid-i-20-sm {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-80-sm {
    float: left;
    width: 80%;
  }
  .grid-flex > .grid-i-50-sm {
    float: left;
    width: 50%;
  }
  .grid-flex > .grid-i-50-sm + .grid-i-50-sm {
    clear: none;
  }
  .grid-flex > .grid-i-50-sm:nth-child(odd) {
    clear: left;
  }
  .grid-flex > .grid-i-33-sm {
    float: left;
    width: 33.3%;
  }
  .grid-flex > .grid-i-33-sm + .grid-i-33-sm {
    clear: none;
  }
  .grid-flex > .grid-i-33-sm:nth-child(3n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-25-sm {
    float: left;
    width: 25%;
  }
  .grid-flex > .grid-i-25-sm + .grid-i-25-sm {
    clear: none;
  }
  .grid-flex > .grid-i-25-sm:nth-child(4n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-20-sm {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-20-sm + .grid-i-20-sm {
    clear: none;
  }
  .grid-flex > .grid-i-20-sm:nth-child(5n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-16-sm {
    float: left;
    width: 16.6%;
  }
  .grid-flex > .grid-i-16-sm + .grid-i-16-sm {
    clear: none;
  }
  .grid-flex > .grid-i-16-sm:nth-child(6n + 1) {
    clear: left;
  }
}
@media (min-width: 768px) {
  .display-table-md {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .display-table-md .tr {
    display: table-row;
  }
  .display-table-md .td {
    display: table-cell;
  }

  .i-10-md {
    width: 10%;
  }

  .i-20-md {
    width: 20%;
  }

  .i-30-md {
    width: 30%;
  }

  .i-40-md {
    width: 40%;
  }

  .i-50-md {
    width: 50%;
  }

  .i-60-md {
    width: 60%;
  }

  .i-70-md {
    width: 70%;
  }

  .i-80-md {
    width: 80%;
  }

  .i-90-md {
    width: 90%;
  }

  .i-100-md {
    width: 90%;
  }

  .grid-flex {
    /*
     * these non clearing rules are for one-off useage
     */
  }
  .grid-flex > .grid-i-20-md {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-80-md {
    float: left;
    width: 80%;
  }
  .grid-flex > .grid-i-50-md {
    float: left;
    width: 50%;
  }
  .grid-flex > .grid-i-50-md + .grid-i-50-md {
    clear: none;
  }
  .grid-flex > .grid-i-50-md:nth-child(odd) {
    clear: left;
  }
  .grid-flex > .grid-i-33-md {
    float: left;
    width: 33.3%;
  }
  .grid-flex > .grid-i-33-md + .grid-i-33-md {
    clear: none;
  }
  .grid-flex > .grid-i-33-md:nth-child(3n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-25-md {
    float: left;
    width: 25%;
  }
  .grid-flex > .grid-i-25-md + .grid-i-25-md {
    clear: none;
  }
  .grid-flex > .grid-i-25-md:nth-child(4n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-20-md {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-20-md + .grid-i-20-md {
    clear: none;
  }
  .grid-flex > .grid-i-20-md:nth-child(5n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-16-md {
    float: left;
    width: 16.6%;
  }
  .grid-flex > .grid-i-16-md + .grid-i-16-md {
    clear: none;
  }
  .grid-flex > .grid-i-16-md:nth-child(6n + 1) {
    clear: left;
  }
}
@media (min-width: 1024px) {
  .display-table-lg {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .display-table-lg .tr {
    display: table-row;
  }
  .display-table-lg .td {
    display: table-cell;
  }

  .i-10-lg {
    width: 10%;
  }

  .i-20-lg {
    width: 20%;
  }

  .i-30-lg {
    width: 30%;
  }

  .i-40-lg {
    width: 40%;
  }

  .i-50-lg {
    width: 50%;
  }

  .i-60-lg {
    width: 60%;
  }

  .i-70-lg {
    width: 70%;
  }

  .i-80-lg {
    width: 80%;
  }

  .i-90-lg {
    width: 90%;
  }

  .i-100-lg {
    width: 90%;
  }

  .grid-flex {
    /*
     * these non clearing rules are for one-off useage
     */
  }
  .grid-flex > .grid-i-20-lg {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-80-lg {
    float: left;
    width: 80%;
  }
  .grid-flex > .grid-i-50-lg {
    float: left;
    width: 50%;
  }
  .grid-flex > .grid-i-50-lg + .grid-i-50-lg {
    clear: none;
  }
  .grid-flex > .grid-i-50-lg:nth-child(odd) {
    clear: left;
  }
  .grid-flex > .grid-i-33-lg {
    float: left;
    width: 33.3%;
  }
  .grid-flex > .grid-i-33-lg + .grid-i-33-lg {
    clear: none;
  }
  .grid-flex > .grid-i-33-lg:nth-child(3n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-25-lg {
    float: left;
    width: 25%;
  }
  .grid-flex > .grid-i-25-lg + .grid-i-25-lg {
    clear: none;
  }
  .grid-flex > .grid-i-25-lg:nth-child(4n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-20-lg {
    float: left;
    width: 20%;
  }
  .grid-flex > .grid-i-20-lg + .grid-i-20-lg {
    clear: none;
  }
  .grid-flex > .grid-i-20-lg:nth-child(5n + 1) {
    clear: left;
  }
  .grid-flex > .grid-i-16-lg {
    float: left;
    width: 16.6%;
  }
  .grid-flex > .grid-i-16-lg + .grid-i-16-lg {
    clear: none;
  }
  .grid-flex > .grid-i-16-lg:nth-child(6n + 1) {
    clear: left;
  }
}

