@import 'variables';

/*
 * faux grid
 * A naturally wrapping grid system, this will align things side by side,
 * the width must be set by another class or not at all
 */
.grid-faux {
	display: inline-block !important;
	vertical-align: top;
}

/*
 * arbitrary % width items
 */
@mixin arb-is($grid-size) {
	.i-10#{-$grid-size} {
		width: 10%;
	}
	.i-20#{-$grid-size} {
		width: 20%;
	}
	.i-30#{-$grid-size} {
		width: 30%;
	}
	.i-40#{-$grid-size} {
		width: 40%;
	}
	.i-50#{-$grid-size} {
		width: 50%;
	}
	.i-60#{-$grid-size} {
		width: 60%;
	}
	.i-70#{-$grid-size} {
		width: 70%;
	}
	.i-80#{-$grid-size} {
		width: 80%;
	}
	.i-90#{-$grid-size} {
		width: 90%;
	}
	.i-100#{-$grid-size} {
		width: 90%;
	}
}

/*
 * flex grid
 * A percentage based *cleared* grid
 */
$grid-flex-margin: $root-margin;

@mixin display-table($size) {
	.display-table#{-$size} {
		display: table;
		table-layout: fixed;
		width: 100%;

		.tr {
			display: table-row;
		}
		
		.td {
			display: table-cell;
		}
	}
}

@mixin disable-grid(){
	> .grid-i,
	> [class^="grid-i"],
	> [class*=" grid-i"] {
		float: none;
		width: auto;
	}
}

@mixin grid-is($grid-size) {
	/*
	 * these non clearing rules are for one-off useage
	 */
	> .grid-i-20#{-$grid-size} {
		float: left;
		width: 20%;
	}

	> .grid-i-80#{-$grid-size} {
		float: left;
		width: 80%;
	}

	> .grid-i-50#{-$grid-size} {
		float: left;
		width: 50%;

		+ .grid-i-50#{-$grid-size} {
			clear: none;
		}

		&:nth-child(odd) {
			clear: left;
		}
	}

	> .grid-i-33#{-$grid-size} {
		float: left;
		width: 33.3%;

		+ .grid-i-33#{-$grid-size} {
			clear: none;
		}

		&:nth-child(3n + 1) {
			clear: left;
		}
	}

	> .grid-i-25#{-$grid-size} {
		float: left;
		width: 25%;

		+ .grid-i-25#{-$grid-size} {
			clear: none;
		}

		&:nth-child(4n + 1) {
			clear: left;
		}
	}

	> .grid-i-20#{-$grid-size} {
		float: left;
		width: 20%;

		+ .grid-i-20#{-$grid-size} {
			clear: none;
		}

		&:nth-child(5n + 1) {
			clear: left;
		}
	}

	> .grid-i-16#{-$grid-size} {
		float: left;
		width: 16.6%;

		+ .grid-i-16#{-$grid-size} {
			clear: none;
		}

		&:nth-child(6n + 1) {
			clear: left;
		}
	}
}

@include arb-is(na);

.grid-flex {
	display: block;
	margin-left: -($grid-flex-margin);
	margin-right: -($grid-flex-margin);

	@include grid-is(na);

	> .grid-i,
	> [class^="grid-i"],
	> [class*=" grid-i"] {
		box-sizing: border-box;		/* border box model so percentage widths work in combination with padding and border */
		//margin-bottom: $grid-flex-margin; border'd bottom, need to figure out a better solution
		margin-left: auto;
		margin-right: auto;

		/*
		 * these rules are important to override first/last cell missing left/right padding
		 * (already accounted for via the minus margin on the wrapping grid-flex)
		 */
		padding-left: $grid-flex-margin !important;
		padding-right: $grid-flex-margin !important;
	}

	&.no-spacing {
		margin: 0 !important;

		> .grid-i,
		> [class^="grid-i"],
		> [class*=" grid-i"] {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}

.display-table-md,
.display-table-lg,
.display-table-sm {
	.td:last-child {
		border-right-width: 0;
	}
}

/* build a grid for each breakpoint */
@media(min-width: 500px) {
	@include display-table(sm);

	@include arb-is(sm);

	.grid-flex {
		@include grid-is(sm);
	}
}

@media(min-width: 768px) {
	@include display-table(md);

	@include arb-is(md);

	.grid-flex {
		@include grid-is(md);
	}
}

@media(min-width: 1024px) {
	@include display-table(lg);

	@include arb-is(lg);

	.grid-flex {
		@include grid-is(lg);
	}
}
