/*
This might get messy since we're attempting to style/override the daterangepicker
which was made to be used with Bootstrap.
*/
.daterangepicker {
  display: none;
  width: auto;
  margin: 6px 0 0 0;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
}
.daterangepicker .daterangepicker_input .calendar-time i {
  top: 2px;
}
.daterangepicker::before {
  top: -14px !important;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-bottom: 14px solid #aaa !important;
}
.daterangepicker::after {
  top: -12px !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 12px solid #fff !important;
}
.daterangepicker .disabled {
  text-decoration: line-through;
  cursor: not-allowed;
  opacity: 0.3;
}
.daterangepicker table {
  border-collapse: collapse;
}
.daterangepicker table td,
.daterangepicker table th {
  padding: 7px 9px;
  border-radius: 0;
}
.daterangepicker table td.available:hover,
.daterangepicker table th.available:hover {
  background: #14a9ff;
  color: #fff;
}
.daterangepicker table td.in-range,
.daterangepicker table th.in-range {
  background: #f2f2f2;
}
.daterangepicker table td.start-date,
.daterangepicker table th.start-date,
.daterangepicker table td.end-date,
.daterangepicker table th.end-date {
  background: #323232;
  border-radius: 0;
}
.daterangepicker table td.start-date.off,
.daterangepicker table th.start-date.off,
.daterangepicker table td.end-date.off,
.daterangepicker table th.end-date.off {
  background-color: #fff;
}
.daterangepicker table td.off.available,
.daterangepicker table th.off.available,
.daterangepicker table td.off.off.disabled,
.daterangepicker table th.off.off.disabled {
  opacity: 0.3;
}
.daterangepicker table th {
  cursor: auto;
}
.daterangepicker table th.available {
  cursor: pointer;
}
.daterangepicker .ranges {
  clear: both;
  display: block;
  float: none !important;
  font-size: unset;
  margin: 4px;
  overflow: hidden;
}
.daterangepicker .ranges .btn:first-child {
  margin: 0 0 0 5px;
}
/*
C3 Overrides
*/
.c3-grid line {
  stroke: #ddd;
}
.c3-tooltip {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
}
.c3-tooltip th,
.c3-tooltip td {
  padding: 9px;
}
.c3-tooltip th {
  background: #fff;
  color: #323232;
}
