@import 'variables';

#app {
	margin-bottom: $root-margin;
}

.loading-bar {
	background: rgba(0, 0, 0, .1);
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
}

/*
 * Bar rules:
 * Background bars are used quite frequently, I have come up with the 'bar-wrap' pattern
 * due to table cells (td's) not being able to have relative positioning, the class takes on more meaning in the table.styl
 */
.cell-wrap {
	position: relative;

	.bar-light,
	.bar-progress {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}
}

.bar-progress {
	background: rgba(0,0,0,0.05);
}

.resp-elem {
	max-width: 100%;
	overflow: scroll;
}

.inner {
	margin: auto;
	max-width: 1140px;
	padding: 0 10px;
}

.decorate {
	border: 1px solid rgba(0, 0, 0, .15) !important;
}

.form_error_message {
	display: none;
}

hr {
	border: 0 solid $clr-border;
	border-width: 1px 0 0 0;
	display: block;
	height: 0;

	&.dashed {
		border-top-style: dashed;
	}
}

/*
 * Suplimental item
 */
.sup {
	color: $clr-font-sup;
}

.sup-i {
	margin-right: 10px;
}

.sup-i.pull-right,
.text-right .sup-i {
	margin-left: 20px;
	margin-right: auto;
}

/* Inactive button or CTA */
.inactive {
	background: #fff !important;
	color: $clr-font !important;
	cursor: not-allowed;

	&:active,
	&:focus,
	&:hover {
		box-shadow: none;
		cursor: not-allowed;
	}
}

.well {
	border-radius: $root-border-radius;
	padding: .8em;
}
