@import 'variables';

/* 
 * This file is for rules that override a default it is included 
 * as one of the last style sheets to override previouse styling
 * implicity as opposed to being overly reliant on !important
 */

/*
 * style for use with tables and HR's to help secion content
 */
.section {
	border-top-color: #aaa;
}

/**
 * Imporant was used here to override any inherited display property,
 * which seemed to cling to the element (even though it clearly should not)
 * I have had to remove important so inline dispay none is effective
 */
.display-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.display-table-cell {
	box-sizing: border-box;
	display: table-cell;
}

.display-table-row {
	display: table-row;
}

.display-ib {
	display: inline-block;
}

.display-inline {
	display: inline;
}

.display-block {
	display: block;
}


/*
 * font sizes
 */
.xx-small {
	font-size: .7rem;
}

.x-small {
	font-size: .8rem;
}

small,
.small {
	font-size: .9rem;
}

.regular {
	font-size: 1rem !important;
}

h4, .h4,
.large	{
	font-size: 1.1rem;
}

h3, .h3,
.x-large {
	font-size: 1.2rem;
}

h2, .h2,
.xx-large {
	font-size: 1.3rem;
}

h1, .h1 {
	font-size: 1.4rem;
}

/*
 *  Generic text-style rules
 */
.text-uppercase {
	text-transform: uppercase;
}

.text-underline {
	text-decoration: underline;
}

dt,
.dt,
strong,
b,
.text-bold {
	font-weight: 700;
}

.text-regular {
	font-weight: 400;
}

.text-light {
	font-weight: 300;
}

i,
em,
.text-italic {
	font-style: italic;	
}

.text-normal {
	font-style: normal;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.def-clr,
.text-clr {
	color: $clr-font !important;
}

.text-clr-alt {
	color: $clr-font-alt;
}

.text-clr-light {
	color: #fff !important;
}

.overflow-hide {
	overflow: hidden;
}

@media (min-width: 768px) {
	/*
	 * Please note, there is some font-size setting in form.scss,
	 * if you are not changing the modifiers, it should work fine
	 */
	.xx-small {
		font-size: $root-font-size - 4;
	}

	.x-small {
		font-size: $root-font-size - 3;
	}

	small,
	.small {
		font-size: $root-font-size - 2;
	}

	.regular {
		font-size: $root-font-size !important;
	}
	
	h4, .h4,
	.large {
		font-size: $root-font-size + 1;
	}

	h3, .h3,
	.x-large {
		font-size: $root-font-size + 2;
	}

	h2, .h2,
	.xx-large {
		font-size: $root-font-size + 4;
	}

	h1, .h1 {
		font-size: $root-font-size + 6;
	}
}

