@import 'variables';
$to-lighten: 4%;

/*
 * Generic state colours
 */
.text-clr-stop {
	color: $clr-stop;

	&.cta:hover {
		color: lighten($clr-stop, $to-lighten);
	}
}

.text-clr-wait {
	color: $clr-wait;

	&.cta:hover {
		color: lighten($clr-wait, $to-lighten);
	}
}

.text-clr-go {
	color: $clr-go;

	&.cta:hover {
		color: lighten($clr-go, $to-lighten);
	}
}

.mono-light {
	background-color: $clr-mono-light;
}

.btn.mono-light,
.to-mono-light {
	&:active,
	&:hover {
		background-color: lighten($clr-mono-light, $to-lighten);
		color: #fff;
	}
}

.mono-mid {
	background-color: $clr-mono-mid;
}

.btn.mono-mid,
.btn.to-mono-mid {
	&:active,
	&:hover {
		background-color: lighten($clr-mono-mid, $to-lighten);
		color: #fff;
	}
}

.mono-dark {
	background-color: $clr-mono-dark;
	color: #fff;
}

.btn.mono-dark,
.btn.to-mono-dark {
	&:active,
	&:hover {
		background-color: lighten($clr-mono-dark, $to-lighten);
		color: #fff;
	}
}

.to-foreground:hover,
.foreground {
	background-color: $clr-foreground;
	color: $clr-font;
}

.btn.foreground,
.btn.to-foreground	{
	&:active,
	&:hover {
		background-color: lighten($clr-foreground, $to-lighten);
	}
}

.link {
	background-color: $clr-link-background;
	color: #fff;
	text-decoration: none !important;
}

.btn.link,
.btn.to-link {
	&:active,
	&:hover {
		background-color: $clr-link-hover;
		color: #fff;
	}
}

.stop {
	background-color: $clr-stop;
	color: #fff;
}

.btn.stop,
.btn.to-stop {
	&:active,
	&:hover {
		background-color: lighten($clr-stop, $to-lighten);
		color: #fff;
	}
}

.wait {
	background-color: $clr-wait;
	color: #fff;
}

.btn.wait,
.btn.to-wait {
	&:active,
	&:hover {
		background-color: lighten($clr-wait, $to-lighten);
		color: #fff;
	}
}

.go {
	background-color: $clr-go;
	color: #fff;
}

.btn.go,
.btn.to-go {
	&:active,
	&:hover {
		background-color: lighten($clr-go, $to-lighten);
		color: #fff;
	}
}

.btn[disabled] {
	background-color: #fff !important;
	border: 1px solid rgba(0, 0, 0, .15) !important; // same as '.decorate'
	color: $clr-font !important;
	cursor: default;
}

