@import 'variables';

$cell-padding-y: .8em;
$cell-padding-x: .6em; 

$big-cell-padding-y: 1.2em;
$big-cell-padding-x: .9em;

$small-cell-padding-y: .6em;
$small-cell-padding-x: .4em;

/*
 * dashed pattern, has top line heavy, bottom line light, scrap this shit if we end up with
 * any more permutations of dashed/lined, this only differs from 'table-line-dash' in that middle rows are not lined
 */
.table-dashed {
	border: 0 solid $clr-border;
	border-width: 1px 0;

	.th, th,
	.td, td {
		border: 0 dashed $clr-border;
		border-width: 0 0 1px 0;


		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.th, th,
	.td, td {
		border-right-width: 1px;

		&:last-child {
			border-right-width: 0;
		}
	}

	.tr, tr {
		&:last-child {
			.th, th,
			.td, td {
				border-bottom-width: 0;
			}
		}
	}
}



/**
 * Table
 * Style name follows X/Y axis
 */
.table-line-dash {
	border: 0 solid $clr-border;
	border-width: 1px 0 0 0;

	/*
	 * 'to-' is a prefix to hover classes, this will make sure links are highlighted within the hover cell/row
	 * and assumes a pointer cursor...
	 */
	[class^="to-"],
	[class*=" to-"] {
		&:hover {
			cursor: pointer;
			
			.faux-link,
			a {
				color: $clr-link-hover;
				text-decoration: none !important;
			}
		}
	}

	/* path to a table cell only */	
	th, td {
		.cell-wrap {
			margin: (-$cell-padding-y) (-$cell-padding-x);

			.cell-value {
				padding: $cell-padding-y $cell-padding-x;
				transition: margin ease .25s;
			}

			/*
			 * This solution sucks a bit, a table cell cannot be position: relative, it may work on some browsers but it should not
			 * therefore, the only solution is to wrap a div (bar-wrap) but a div will only be the height of its content
			 * so, with overflow-hidden on the cell, we have to absolutly position the height 100% element and minus
			 * out of the top/bottom hoping that an adjacent cell never becomes taller - yup, bad solution
			 * I feel ok having td's overflow: hidden by default, tabluar data should not have fancy shit like all this hover raz we are doing
			 */
			.bar-light,
			.bar-progress {
				bottom: -100px;
				top: -100px;
				transition: border-width linear .2s, border-color ease .25s;
			}
		}
	}

	.thead,
	thead {
		border-bottom: 15px solid #fff;

		tr {
			background: none !important;
		}
	}

	/*
	 * the active item should not respond to mouse actions and should not click through (controlled via JS)
	 */
	.active {
		// override link behaviour
		a,
		.faux-link {
			color: $clr-link;
			cursor: default !important;
		}

		.bar-light {
			border-left: 5px solid $clr-mono-dark !important;
			margin: 0 !important;

			+ .cell-value {
				margin-left: 10px;
			}
		}
	}

	tr {
		&:hover {
			.bar-light {
				border-left: 10px solid $clr-link-hover;
				margin-left: -5px; // this is a hack, chrome does not animate small widths very well

				+ .cell-value {
					margin-left: 10px;
				}
			}
		}
	}

	.td,
	td,
	th {
		overflow: hidden;

		/*
		 * When I can convince someone that content butting up against the edge of the first and last cell is 
		 * inconsistant and a bad idea, we can get rid of this rubbish
		 */
		&:first-child {
			padding-left: 0;

			.cell-wrap {
				margin-left: 0;
			}

			.cell-value {
				padding-left: 0;
			}
		}

		&:last-child {
			padding-right: 0;

			.cell-wrap {
				margin-right: 0;
			}

			.cell-value {
				padding-right: 0;
			}
		}
	}

	.td, td,
	.th, th {
		border: 0 solid $clr-border;
	}

	.th,
	th {
		border-right-width: 1px;
		color: $clr-font-sup;
		font-weight: 400; // override user agent defaults
		padding: $cell-padding-y $cell-padding-x;
		text-align: left;
		vertical-align: bottom;

		.col-sort {
			margin-top: -.6em;
		}

		// I hate this 'first/last cell has no padding' thing with the burning passion of a thousand suns
		&:last-child {
			border-right-width: 0;
		}
	}

	.td,
	td {
		border-bottom: 1px solid $clr-border;
		padding: $cell-padding-y $cell-padding-x;
		vertical-align: top;
	}

	.td,
	td {
		border-right: 1px dashed $clr-border;

		&:last-child {
			border-right-width: 0;
		}
	}
}


/*
 * these cell padding rules should accomodate all our table-spacing needs
 * unfortunately the cell-wrap/cell-value rules cannot be avoided (see various comments below)
 */
.cell-padding-sm {
	th, .th,
	td, .td {
		padding: $small-cell-padding-y $small-cell-padding-x;
	}

	td, th {
		.cell-wrap {
			margin: (-$small-cell-padding-y) (-$small-cell-padding-x);

			.cell-value {
				padding: $small-cell-padding-y $small-cell-padding-x;
			}
		}
	}
}

.cell-padding-lg {
	th, .th,
	td, .td {
		padding: $big-cell-padding-y $big-cell-padding-x;
	}

	td, th {
		.cell-wrap {
			margin: (-$big-cell-padding-y) (-$big-cell-padding-x);

			.cell-value {
				padding: $big-cell-padding-y $big-cell-padding-x;
			}
		}
	}
}


