@import 'variables';

/**
* Tooltip Styles
*/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	cursor: pointer;
	position: relative;
	z-index: 5;

	// Hide the tooltip content by default
	&:before,
	&:after {
		opacity: 0;
		pointer-events: none;
		top: 50%; // this should always be ovverriden
		transition: opacity .25s, top .25s;
		visibility: hidden;
	}

	// Show tooltip content on hover
	&:hover:before,
	&:hover:after {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	// Default positioning (bottom, pointing up)
	&:before {
		border-radius: 3px;
		background-color: $clr-font;
		color: #fff;
		content: attr(data-tooltip);
		font-size: 1rem;
		left: 50%;
		line-height: 1.4;
		margin: 5px 0 0 0;
		padding: .4em .6em;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		white-space: nowrap;
	}

	// The pointy bit, default top alignment
	&:after {
		border-bottom: 5px solid $clr-font;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		content: " ";
		font-size: 0;
		left: 50%;
		line-height: 0;
		margin: 0 0 0 -5px;
		position: absolute;
		width: 0;
	}


	// Orientation override
	&.orien-left {
		&:before {
			left: auto;
			margin: -.5em 5px 0 0;
			right: 100%;
			transform: none !important;
			top: 46%;
		}

		&:after {
			border-bottom: 5px solid transparent;
			border-left: 5px solid $clr-font;
			border-top: 5px solid transparent;
			left: auto;
			margin: -2px -5px 0 0;
			right: 100%;
			top: 50%;
		}
	}

	&.orien-right {
		&:before {
			left: 100%;
			margin: -.5em 0 0 5px;
			right: auto;
			transform: none !important;
			top: 46%;
		}

		&:after {
			border-bottom: 5px solid transparent;
			border-right: 5px solid $clr-font;
			border-top: 5px solid transparent;
			left: 100%;
			margin: -2px 0 0 -5px;
			right: auto;
			top: 50%;
		}
	}

	&.orien-top {
		&:before {
			bottom: 100%;
			margin-bottom: 5px;
			top: auto;
		}
		
		&:after {
			border-bottom-width: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $clr-font;
			bottom: 100%;
			top: auto;
			width: 0;
		}
	}
}


