/*
 * Stylus Variables
 */
$root-font-size: 15px;
$root-margin: 1.3rem;
$root-border-radius: .25em;

/*
 * Colours! If you want slightly lighter/darker shades
 * use the darken/lighten stylus function in 10% increments for consistency
 */
$clr-background: #fff;
$clr-foreground: #f2f2f2;

$clr-mono-dark: #323232;
$clr-mono-mid: #999;
$clr-mono-light: #ccc;


// font
$clr-font: #323232;
$clr-font-alt: #626262;
$clr-font-sup: #888;

// layout
$clr-border: #ddd;
$clr-border-input: #aaa;

// links
$clr-link: #006dc8;
$clr-link-hover: #14a9ff;
$clr-link-active: $clr-link-hover;
$clr-link-visited: $clr-link;
$clr-link-background: #3289d2;

$clr-link-active-rgb: '20, 169, 255';

// state
$clr-stop: #dd0000;
$clr-wait: #ffc800;
$clr-go: #229900;


