<h1><span class='fa fa-plus'></span> New Creative</h1>
<hr />
<div class="message">
</div>
<div id="creativeName"></div>
<div id="creativeFormat"></div>
<div class="display-ib sup-i pull-right btn decorate link to-go" id="mkCreative">Save Creative</div>
<div class="display-ib sup-i pull-right btn decorate foreground cancel">Cancel</div>
