<div class="display-table-cell vert-mid text-center">
	<div class="content content-slim overflow-h display-ib">
		<div class="close pull-right fa fa-close"></div>
		<div class="child-container">

		</div>
	</div>
</div>
