<div class="display-table-cell vert-mid text-center">
	<div class="content content-slim overflow-h display-ib">
		<p>
			{{message}}
		</p>
		<div class="text-center">
			<div class="ok btn link display-ib decorate">
				Ok
			</div>
		</div>
	</div>
</div>
